{% extends 'layout.html' %}
{% block content %}
  <form action="{{ data.url }}" method="post" enctype="multipart/form-data" class="form">
    <input type="hidden" name="key" value="uploads/${filename}">
    <input type="hidden" name="x-amz-algorithm" value="{{ data.fields['x-amz-algorithm'] }}">
    <input type="hidden" name="x-amz-credential" value="{{ data.fields['x-amz-credential'] }}">
    <input type="hidden" name="x-amz-date" value="{{ data.fields['x-amz-date'] }}">
    <input type="hidden" name="policy" value="{{ data.fields.policy }}">
    <input type="hidden" name="x-amz-signature" value="{{ data.fields['x-amz-signature'] }}">
    <input name="file" type="file">
    <button type="submit">submit</button>
  </form>
{% endblock %}